.input-label{
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
}
.input-text{
   width: 40%;
   padding: 12px 20px;
   margin: 8px 25px ;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;

}
