.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.content{
    margin-top: 3%;
    width: 90%;
    height: 500px;
    background: white;
    padding-left: 40px;
    /* border: 1px solid #0004; */
}
/* #008CBA */
.blue-confirmation-button{
  cursor: pointer;
  border-radius: 0.3em;
  color: #fff;
  background: linear-gradient(to right, #008CBA, #1a6680);
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

/* #4CAF50 */
.confirmation-button {
  cursor: pointer;
  border-radius: 0.3em;
  color: #fff;
  background: linear-gradient(to right, #4CAF50, #1a8305);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  /* #f44336 */
  .cancel-button {
    cursor: pointer;
    border-radius: 0.3em;
    color: #fff;
    background: linear-gradient(to right, #f44336, #b61818);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 1%;
    margin-top: 2%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  

  
  
h1{
    font-family: monospace;
}

body{
    background: white;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}