table{
    width: 90%;
    margin: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #ddd;

}

tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
tr:hover {background-color: #ddd;}

td{
    padding: 8px 8px 8px 28px ;
}

.table-action{
    float: right;
    margin-right: 8%;
  }


.emptyTable  {
    text-align: center;
    background-color: #ddd;
  }