.modal {  
    background-color: #FFFFFF;
    width: 400px;
    /* height: 400px; */
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  }  

  .modal-content {  
    /* position: absolute;  */
    padding: 10px; 
    border-radius: 8px;
    width: 95%;
    height: 60%;  
    background: white;  
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

.modal-top{
    display: flex;
    flex-direction: row;
    text-overflow: inherit;
    width: 100%;  
    height: 20%;
    border-bottom: solid 1px rgb(156, 145, 145);
    overflow:hidden;
}

.modal-middle{
    display: inline-block;
    padding:3% 0 3% 8%;
    width: 92%;  
    height: 60%;
    border-bottom: solid 1px rgb(156, 145, 145);

}

.modal-bottom{
    width: 100%;  
    height: 20%;
    padding-left: 90%;
}

.modal-title{
    margin-left: 10%;
    width: 90%;
    font-size: 100%;
    font-family: sans-serif;
    
}

.input-text-modal{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 25px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

 }