.navbar {
    background-color: #059;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .title{
    font-size: 1.2rem;
    font-family: 'Comfortaa', cursive;
    color: white;
    margin-top: 15px;
  }

  .menu-bars {
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
  }

  .menu-bars-close-icon{
    margin-left: 0rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: rgb(4, 51, 88);
    width: 225px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
    font-family: monospace;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
    font-family: monospace;
  }
  
  .nav-text a:hover {
    background-color: #059;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: rgb(4, 51, 88);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
